{% extends 'base.html' %}

{% block head %}
<title>Upload File(s) - {{ memory.title }}</title>
<style>
    body {
        height: 100vh;
    }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/memories">Memories</a></li>
        <li class="breadcrumb-item"><a href="/memories/view/{{ memory.uid }}">View</a></li>
        <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
</nav>

<form action="#" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="fileInput" class="form-label">Files</label>
        <input class="form-control" type="file" id="fileInput" accept=".png, .jpg, .jpeg, .gif" name="files" multiple>
    </div>
    <button class="shadow-sm rounded btn btn-success px-5" type="submit" style="width: 100%;">Submit</button>
</form>
{% endblock %}