{% extends 'base.html' %}

{% block head %}
<title>{{ date }}</title>
<style>
    .page {
        width: 75%;
    }
    p {
        font-size: large;
    }

    @media (max-width: 950px) {
        .page {
            width: 80%
        }
        p {
            font-size: smaller;
        }
    }

    @media (max-width: 650px) {
        .page {
            width: 95%;
        }
        p {
            font-size: smaller;
        }
    }
</style>
{% endblock %}

{% block body %}
<!-- <div class=" d-flex justify-content-center align-items-center page"> -->
    <div class="card rounded shadow my-5 page">
        <div class="card-header">
            <h4 class="fw-light fst-italic">
                {{ date }}
            </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h5>Dear {{ other }},</h5>
                <p style="white-space: pre-wrap;">{{ page }}</p>
            </blockquote>
        </div>
    </div>
<!-- </div> -->
{% endblock %}