{% extends 'base.html' %}

{% block head %}
<title>{{ date }}</title>
<style>
    .page {
        width: 75%;
    }

    p {
        font-size: large;
    }

    @media (max-width: 950px) {
        .page {
            width: 80%
        }

        p {
            font-size: smaller;
        }
    }

    @media (max-width: 650px) {
        .page {
            width: 95%;
        }

        p {
            font-size: smaller;
        }
    }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/diary">Diary</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>

<div class="card rounded shadow my-3 page">
    <div class="card-header">
        <h4 class="fw-light fst-italic">
            {{ date }}
        </h4>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h5>Dear {{ user }},</h5>
            <p style="white-space: pre-wrap;" class="fst-italic">{{ page }}</p>
        </blockquote>
    </div>
</div>
{% endblock %}