{% extends 'base.html' %}

{% block head %}
<title>{{ date }}</title>
<style>
    textarea {
        min-height: 50px;
    }

    textarea.expanding {
        resize: none;
        overflow-y: hidden;
    }

    .page {
        width: 75%;
    }

    @media (max-width: 950px) {
        .page {
            width: 80%
        }
    }

    @media (max-width: 650px) {
        .page {
            width: 95%;
        }
    }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/diary">Diary</a></li>
        <li class="breadcrumb-item active" aria-current="page">Write</li>
    </ol>
</nav>

<form action="#" method="post" class="card rounded shadow page my-3">
    <div class="card-header">
        <h4 class="fw-light fst-italic">
            {{ date }}
        </h4>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h5>Dear {{ other }},</h5>
            <textarea class="form-control expanding" id="content" name="content" rows="4" oninput="autoExpand(this)">
                    {{ page }}
                </textarea>
        </blockquote>
        <button class="btn btn-success my-2 py-1 px-3" type="submit">Write</button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Call autoExpand on DOMContentLoaded to handle initial content
        document.querySelectorAll('.expanding').forEach(function (textarea) {
            autoExpand(textarea);
        });
    });

    function autoExpand(textarea) {
        // Reset the height to the default to get the scroll height
        textarea.style.height = 'inherit';

        // Set the height based on the scroll height of the content
        textarea.style.height = `${textarea.scrollHeight}px`;
    }
</script>
{% endblock %}