{% extends 'base.html' %}

{% block head %}
<title>Chat - {{ other }}</title>
<style>
    body {
        height: 100vh;
    }
</style>
{% endblock %}

{% block body %}
<h1>Chats</h1>
<div class="d-flex flex-column rounded shadow border mt-3" style="width: 75%; height: 30%;">
    <div class="chats" id="chats" style="height: 100%; overflow-y: auto;"></div>
    <div class="d-flex align-items-center border-top shadow-top" style="width: 100%;">
        <input class="shadow-sm border m-2 p-2 bg-body-tertiary rounded" type="text" id="messageInput"
            style="width: 100%;">
        <input type="submit" id="sendButton"
            class="btn btn-success my-2 me-2 p-2 rounded border d-flex justify-content-center align-items-center"
            value="Send">
    </div>
</div>

<script>
    const chats = document.getElementById("chats");
    const messageInput = document.getElementById("messageInput");

    function getUpdates() {
        fetch(`/chat/polling`)
            .then(response => response.json())
            .then(message => {

                chats.innerHTML += `
                <div class="msg-container d-flex justify-content-start" style="width: 100%;">
                    <p class="rounded shadow-sm m-2 px-2 btn btn-primary">${message.content}</p>
                </div>
                `

                chats.scrollTop = chats.scrollHeight;

                getUpdates();
            });
    }

    function sendMessage() {
        const message = {
            "token": "{{ token }}",
            "content": messageInput.value,
            "by": "{{ user }}",
            "timestamp": Math.floor(new Date().getTime() / 1000)
        }

        fetch('/chat/message', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(message)
        })
            .then(response => response.json())
            .then(data => {
                chats.innerHTML += `
                <div class="msg-container d-flex justify-content-end" style="width: 100%;">
                    <p class="rounded shadow-sm m-2 px-2 btn btn-success">${message.content}</p>
                </div>
                `

                chats.scrollTop = chats.scrollHeight;
                
                console.log('Message sent successfully:', data);
            });

        messageInput.value = "";
    }

    document.getElementById("sendButton").addEventListener("click", sendMessage)

    document.getElementById("messageInput").addEventListener("keypress", (event) => {
        if (event.key == "Enter") {
            sendMessage()
        }
    })

    getUpdates();
</script>
{% endblock %}