{% extends 'base.html' %}

{% block head %}
<title>Chat - {{ other }}</title>
<style>
    body {
        height: 100vh;
    }

    .cont {
        height: 90%;
        width: 100%;
    }

    .msg {
        color: white;
    }

    .user {
        background-color: #198754;
    }
    .other {
        background-color: #0d6efd;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KiKaPeeS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/bucket">Bucket</a>
                <a class="nav-link" href="/memories">Memories</a>
                <a class="nav-link" href="/diary">Diary</a>
                <a class="nav-link active" aria-current="page" href="#">Chat</a>
                <a class="nav-link" href="/auth/sessions">Sessions</a>
                <a class="nav-link text-danger" href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="d-flex flex-column rounded shadow border cont">
    <div class="chats pt-2" id="chats" style="height: 100%; overflow-y: auto;"></div>
    <div class="d-flex align-items-center border-top shadow-top" style="width: 100%;">
        <input class="shadow-sm border m-2 p-2 bg-body-tertiary rounded" type="text" id="messageInput"
            style="width: 100%;">
        <input type="submit" id="sendButton"
            class="btn btn-success my-2 me-2 p-2 rounded border d-flex justify-content-center align-items-center"
            value="Send">
    </div>
</div>

<script>
    const chats = document.getElementById("chats");
    const messageInput = document.getElementById("messageInput");

    var startTimestamp = 999999999999999;

    function generateMessageElement(message) {
        var element;

        if (message.by == "{{ user }}") {
            element = `
                <div class="d-flex justify-content-end" style="width: 100%;">
                    <div class="dropdown me-2 ms-3">
                        <div data-bs-toggle="dropdown" aria-expanded="false" class="rounded msg user">
                            <p class="p-2" style="white-space: pre-wrap;">${message.content}</p>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="reply('${message.uid}')">Reply</a></li>
                            <li><a class="dropdown-item" onclick="copyMessage('${message.content}')">Copy</a></li>
                            <li><a class="dropdown-item text-danger" onclick="deleteMessage('${message.uid}')">Delete</a></li>
                        </ul>
                    </div>
                </div>
                `
        } else {
            element = `
            <div class="d-flex justify-content-start" style="width: 100%;">
                <div class="dropdown  ms-2 me-3">
                    <div data-bs-toggle="dropdown" aria-expanded="false" class="rounded msg other">
                        <p class="p-2" style="white-space: pre-wrap;">${message.content}</p>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="reply('${message.uid}')">Reply</a></li>
                        <li><a class="dropdown-item" onclick="copyMessage('${message.content}')">Copy</a></li>
                    </ul>
                </div>
            </div>
            `
        }

        return element;
    }

    function copyMessage(content) {
        navigator.clipboard.writeText(content)
            .then(() => {
                console.log('Text copied to clipboard');
            })
            .catch(err => {
                console.error('Unable to copy text to clipboard', err);
            });
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function getMessages(timestamp, s) {
        fetch(`/chat/get/${timestamp}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                data = data.messages

                if (startTimestamp > data[0].timestamp) {
                    startTimestamp = data[0].timestamp

                    data = data.reverse();
                    data.forEach(message => {
                        chats.innerHTML = generateMessageElement(message) + chats.innerHTML;
                    })
                }

                if (s) chats.scrollTop = chats.scrollHeight;
            });
    }

    getMessages(Math.floor(new Date().getTime() / 1000), true);

    chats.addEventListener("scroll", () => {
        if (chats.scrollTop == 0) getMessages(startTimestamp);
    })

    function sendMessage() {
        if (messageInput.value == "") return

        const message = {
            "token": "{{ token }}",
            "content": messageInput.value,
            "by": "{{ user }}",
            "timestamp": Math.floor(new Date().getTime() / 1000)
        }

        fetch('/chat/message', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(message)
        })
            .then(response => response.json())
            .then(data => {
                chats.innerHTML += generateMessageElement(message);

                chats.scrollTop = chats.scrollHeight;
            });

        messageInput.value = "";
    }

    function getUpdates() {
        fetch(`/chat/polling`)
            .then(response => response.json())
            .then(async message => {
                if (message.content) {
                    chats.innerHTML += generateMessageElement(message);
                    chats.scrollTop = chats.scrollHeight;
                }

                await sleep(200);

                getUpdates();
            });
    }

    document.getElementById("sendButton").addEventListener("click", sendMessage)

    document.getElementById("messageInput").addEventListener("keypress", (event) => {
        if (event.key == "Enter") sendMessage();
    })

    getUpdates();
</script>
{% endblock %}