{% extends 'base.html' %}

{% block head %}
<title>View - {{ memory.title }}</title>
<link rel="icon" href="{{ memory.thumbnail }}" type="image/x-icon">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KiKaPeeS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/bucket">Bucket</a>
                <a class="nav-link active" aria-current="page" href="/memories">Memories</a>
                <a class="nav-link" href="/diary">Diary</a>
                <a class="nav-link" href="/chat">Chat</a>
                <a class="nav-link" href="/auth/sessions">Sessions</a>
                <a class="nav-link text-danger" href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/memories">Memories</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>

<div class="card m-2" style="width: 75%;">
    <div class="card-body">
        <h5 class="card-title">{{ memory.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">-{{ memory.date }}</h6>
        <p class="card-text fw-light fst-italic">"{{ memory.description }}"</p>
        <a href="/memories/upload/{{ uid }}" class="card-link">Upload New</a>
    </div>
</div>

<hr style="color: black;">

<div class="g-container">
    <div class="card m-2 shadow" style="width: 18rem;">
        <div class="card-body d-flex">
            <div class="flex-fill">
                <h6 class="card-text filename  fs-6">Thumbnail</h6>
                <p class="card-subtitle text-body-secondary fs-6">{{ memory.date }}</p>
            </div>
            <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="navyblue"
                        class="bi bi-three-dots" viewBox="0 0 16 16" style="rotate: 90deg;">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </a>
                <ul class="dropdown-menu">
                    <li class="d-flex align-items-center">
                        <a class="dropdown-item" href="/memories/view/{{ uid }}/open/{{ uid }}">Open</a> 
                        <img src="/static/icons/open.png" alt="" height="15px" width="15px" class="me-3">
                    </li>
                    <li class="d-flex align-items-center">
                        <a class="dropdown-item" href="{{ memory.thumbnail }}">Download</a> 
                        <img src="/static/icons/download.png" alt="" height="15px" width="15px" class="me-3">
                    </li>
                </ul>
            </div>
        </div>
        <img src="{{ memory.thumbnail }}" height="200px" class="card-img-bottom object-fit-cover overflow-hidden">
    </div>

    {% for file in files %}
    <div class="card m-2 shadow" style="width: 18rem;">
        <div class="card-body d-flex">
            <div class="flex-fill">
                <h6 class="card-text filename  fs-6">{{ file.filename }}</h6>
                <p class="card-subtitle text-body-secondary fs-6">{{ file.uploadedOn }}</p>
            </div>
            <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="navyblue"
                        class="bi bi-three-dots" viewBox="0 0 16 16" style="rotate: 90deg;">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </a>
                <ul class="dropdown-menu">
                    <li class="d-flex align-items-center">
                        <a class="dropdown-item" href="/memories/view/{{ uid }}/open/{{ file.uid }}">Open</a> 
                        <img src="/static/icons/open.png" alt="" height="15px" width="15px" class="me-3">
                    </li>
                    <li class="d-flex align-items-center">
                        <a class="dropdown-item" href="{{ file.url }}">Download</a> 
                        <img src="/static/icons/download.png" alt="" height="15px" width="15px" class="me-3">
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="d-flex align-items-center">
                        <a class="dropdown-item text-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ file.uid }}">Delete</a>
                        <img src="/static/icons/delete.png" alt="" height="15px" width="15px" class="me-3">
                    </li>
                </ul>
            </div>
        </div>
        <img src="{{ file.thumbnail }}" height="200px" class="card-img-bottom object-fit-cover overflow-hidden">
    </div>

    <div class="modal fade" id="deleteModal{{ file.uid }}" tabindex="-1"
        aria-labelledby="deleteModal{{ file.uid }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModal{{ file.uid }}Label">Actions have consequences...</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure that you want to delete "{{ file.filename }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="/memories/view/{{ uid }}/delete/{{ file.uid }}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var maxLength = 25; // Set your desired character limit

        var elements = document.querySelectorAll('.filename');

        elements.forEach(function (element) {
            var originalText = element.textContent;

            if (originalText.length > maxLength) {
                var truncatedText = originalText.substring(0, maxLength) + '...';
                element.textContent = truncatedText;
            }
        });
    });
</script>
{% endblock %}