{% extends 'base.html' %}

{% block head %}
<title>Welcome To KiKaPeeS</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 100%;">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">KiKaPeeS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/bucket">Bucket</a>
                <a class="nav-link" href="/memories">Memories</a>
                <a class="nav-link" href="/diary">Diary</a>
                <a class="nav-link" href="/auth/sessions">Sessions</a>
                <a class="nav-link text-danger" href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

{% endblock %}